<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dataStandard.InvAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <dataStandard.InvAddIn.Properties.Settings>
            <setting name="ConfigurationFile" serializeAs="String">
                <value>Inventor.cfg</value>
            </setting>
            <setting name="ConfigurationDirectory" serializeAs="String">
                <value>%CommonAppDataFolder%\Autodesk\Vault 2018\Extensions\DataStandard\CAD\Configuration</value>
            </setting>
            <setting name="DataStandardDirectory" serializeAs="String">
                <value>%CommonAppDataFolder%\Autodesk\Vault 2018\Extensions\DataStandard\{0}\UIStrings.xml</value>
            </setting>
            <setting name="EnableVaultNumSchemeForCmds" serializeAs="String">
              <value>AFG_CMD_ChangeProfile</value>
            </setting>
        </dataStandard.InvAddIn.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.36.9" newVersion="3.0.36.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
